/.DS_Store
/Usama Mahmood .png
/kubernetes installation-1.mov
/lec-12.1 emptydir.mov
/lec-12.2 Ingress.mov
/lec-13 Ingress controller and authentication.mov
/lec-14 token and dashboard.mov
/lec-2.5.mov
/lec-2.mov
/readiness probe - lecture 08.mov